<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/styles.css" type="text/css" />
</head>

<body>
  <div id="root">
    <div class="pie-chart">
    </div>
    <% Object.entries(langs).forEach(([lang, usage], index)=> { %>
      <div class="lang lang-<%= index %>">
        <%= lang %>:
          <%= usage %>%
      </div>
      <% }) %>
  </div>
</body>

</html>
